<div class="app">

  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
      <a class="navbar-brand" routerLink="/signin">
        <span class="mr-1" style="color:white">University</span>
        <i class="fa fa-institution blue-color" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/admin">
              <i class="far fa-book mr-1"></i>Admin
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/teacher">
              <i class="fas fa-teacher mr-1"></i>Teachers
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/student">
              <i class="fas fa-users  mr-1"></i>Students
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/signin">
              <i class="fas fa-user mr-1"></i>Sign in
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">&copy; 2020 - www.saikumarShinde.com</p>
        </div>
      </div>
    </div>
  </div>